*{
    margin:0;
    padding:0;
}

body{
    background-color: #2E8B57;
    text-align:center;
}

.container{
    height:70vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.game{
    height:60vmin;
    width:60vmin;

    display:flex;
    flex-wrap:wrap;

    justify-content:center;
    align-items:center;

    gap:1.5vmin;
}

.box{
    height:18vmin;
    width:18vmin;

    border:none;
    border-radius:1rem;

    background-color:rgb(227,241,227);

    font-size:70px;

    box-shadow:0 0 1rem rgba(0,0,0,0.3);

    cursor:pointer;

    transition:all 0.3s ease;
}

.box:hover{
    background-color:white;
    transform:scale(1.08);
    box-shadow:0 0 1.5rem rgba(0,0,0,0.5);
}

#reset,
#new-btn{

    background-color:rgb(241, 85, 194);

    font-size:1.5rem;

    padding:1rem;

    border:none;

    border-radius:1rem;

    cursor:pointer;

    transition:all 0.3s ease;
}

#reset:hover,
#new-btn:hover{
    background-color:rgb(220,40,150);
    color:white;
    transform:scale(1.05);
}

#msg{
    font-size:8vmin;
}

.msg-container{
    height:40vmin;
}

.hide{
    display:none;
}